<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="dark">
<head>
    <div th:include="~{fragments/head::commonHead}"></div>
    <title th:text="${pageTitle}">Page title</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <p>Today is: <span th:text="${today}">13 February 2011</span></p>
    <H3>Page not found!</H3>
    <p>You can go to <a th:href="@{/projects}">projects</a> page</p>
</div>


<div class="container">
    <div th:replace="~{fragments/footer :: copyright}"></div>
</div>

</body>
</html>