<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="dark">
<head>
    <div th:include="~{fragments/head::commonHead}"></div>
    <title th:text="${pageTitle}">Page title</title>
</head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <p>Today is: <span th:text="${today}">13 February 2011</span></p>
</div>

<div class="container">
    <form th:method="POST" th:action="@{/projects}" th:object="${project}">
        <label for="name">Enter project's name: </label>
        <input type="text" th:field="*{name}" id="name"/></br>
        <label for="stextname">Enter first search text: </label></br>

        Строка поиска должна соединять слова знаком плюс (+)</br>
        Пример: java+teamlead</br>
        Это не баг, так принимает данные api.hh.ru</br>

        <input type="text" th:field="*{searchText}" id="stextname"/>
        <br/>
        <input type="submit" value="Create"/>
    </form>
</div>

<div class="container">
    <div th:replace="~{fragments/footer :: copyright}"></div>
</div>

</body>
</html>